.part3container {
    width: 100%;
    min-height: auto;
    background-color: #B3E1F2;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.part3heading {
    color: #333;
    font-size: 32px;
    font-weight: bold;
}

.highlight {
    color: #FA7642;
}

.btn {
    width: 250px;
    height: 50px;
    background-color: #FA7642;
    color: white;
    border: 1px solid #FA7642;
    margin-top: 30px;
    font-size: 20px;
}

.container1 {
    margin-bottom: 100px;
    margin-top: 70px;
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}

.img3 {
    width: 260px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.heading2 {
    padding-top: 80px;
    color: #000;
    margin: 0;
    text-align: center;
}

.highlighted {
    color: #f26b3a;
}

.container2 {
    padding-top: 70px;
    display: flex;
    width: 75%;
    align-items:center;
    justify-content: space-between;
    
}

.img4 {

    width: 350px;
    height: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}

.icons {
    padding-left: 80px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
    padding-bottom: 25px;
}

.icon{
    width: 50px;
   padding-top: 25px;
}

.textcontainer{
    display: flex;
    flex-direction: column;
     gap:10px;
}