html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.lefthalf {
    width: 50%;

    background-color: #E9F0ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {

    width: 80%;
    height: auto;

}


.righthalf {
    display: flex;
    flex-direction: column;
    align-items: center;/*center vertically */
    
    font-weight: normal;
    width: 50%;
}

.loginheading {
    margin-top: 40px;
    font-size: 64px;
    color: #22204D;

}

.inputfields{
    font-size: 20px;
    width: 563px;
    height: 60px;
    border: 1px solid black;

}

.passworddiv {
    margin-top: 30px;
}

.subheadings {
    font-size: 20px;
    font-weight: normal;
    font-style: sans-serif;
    margin-bottom: 0px;


}


.forgotpassword {
    font-size: 20px;
    font-weight: normal;
    font-style: sans-serif;
    color: green;
    text-decoration: none;
    padding-left: 420px;
}

.btn {
   background-color: #4836CE;
    margin-top: 40px;
    margin-left: 3px;
    width: 563px;
    height: 60px;
    border: 1px solid  #4836CE;
    color: white;
    font-size: 20px;
    font-weight: normal;
    font-style: sans-serif;
    cursor: pointer;
}

.form{
      display: flex;
      flex-direction: column;
}



.signup{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: normal;
    margin-left: 140px;
    
}
.or{
    font-size: 20px;
    margin-left: 259px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.continubtn{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content:stretch;
    background-color: white;
    border: 1px solid gray;
    font-size: 20px;
    width: 563px;
    height: 60px;
    margin-left: 3px;
    color:#22204D;
    cursor: pointer;
}

.google{
    width: 30px;
    margin-right: 150px;
  
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-top: -20px;
  }

/*password screen */
 
.passwordwrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 


.passwordcontainer{

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 200px;        
}

.passheading1{
    font-size: 40px;
    color: #22204D;
    font-weight:bold;
  margin-bottom: 20px;
}
.passheading2{
    font-size: 15px;
    color: black;
    font-weight:normal;   
}

.passinputs{
    width: 300px;
    height: 50px;
    border: 0.5px solid gray;
    font-size: 15px;
    border-radius: 10px;
    
}

.nextbtn{
    margin-top: 10px;
    color: white;
    background-color: #4836CE;
    border: 1px solid#4836CE;
    font-size: 19px;
    font-weight: normal;
    font-style: sans-serif;
    border-radius: 5px;
    width: 80px;
    height: 40px;
 
}

.Resetpassword{
    margin-top: 10px;
    color: white;
    background-color: #4836CE;
    border: 1px solid#4836CE;
    font-size: 19px;
    font-weight: normal;
    font-style: sans-serif;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    
}